
// * {
//     box-sizing: content-box;
//     margin: 0;
//     padding: 0;
// }
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
html,
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #4c4f5f;
    width: 100%;
    height: 100vh;
    color: #000000;
    font-family: Russo One;
    font-size: 30px;
}

p {
    text-align: center;
    font-size: 15px;
    color: rgb(118, 118, 118);
}

.wrapper {
    margin: 0 auto;
    max-width: 1280px;
    background-color: #284e58;
    border-radius: 3%
}

.textarea {
    display: flex;
}

textarea {
    margin: 18px auto;
    background: transparent;
    color: #F5DF4D;
    min-height: 240px;
    min-width: 875px;
    font-size: 20px;
    padding: 15px;
    word-wrap: break-spaces;
    white-space: pre;
    font-family: Russo One;
    align-items: center;
    justify-content: center;
    resize: none;
    overflow-x: hidden;
    border-radius: 3%;
    letter-spacing: 0.08em;
    &::placeholder {
        text-align: center;
        font-size: 22px;
    }
}
.keyboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border-radius: 10px;
    position: relative;
    text-align: center;
    min-width: 888px;
    padding: 20px;
}

.key {
    font-size: 22px;
    font-family: Russo One;
    box-shadow: 0 0 0 4px #000000;
    outline: 1px solid #000000;
    height: 50px;
    min-width: 50px;
    border: none;
    border-radius: 10px;
    color: #0e84b7;
    background: #4c4f5f;
    cursor: pointer;
    position: relative;
    z-index: 1;
    margin: 3px;
    overflow: visible;
    margin: 5px;
}


.row {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.active {
    top:5px;
    background-color:#0e84b7;
    color: #4c4f5f;
    -webkit-box-shadow:inset 0 2px 0 #000, inset 0 -3px 0 #0e84b7;
    -moz-box-shadow:inset 0 2px 0 #000, inset 0 -3pxpx 0 #0e84b7;
    box-shadow:inset 0 2px 0 #000, inset 0 -3px 0 #0e84b7;
}

#Space {
    width: 44%;
}
#Backspace {
    width: 25%;
}
#Tab, #Delete {
    width: 20%;
}

#Delete {
    font-size: 15px;
}

#CapsLock, #Enter {
    width: 30%;
}

#ShiftLeft, #ShiftRight {
    width: 30%;
}